#container {
    margin: 0 20% 0 20%;
    background-color: rgb(107, 104, 112);
    float: none;
}
#hp {
    padding: 1%;
    width: 25%;
    background-color: rgb(85, 34, 167);
    float: left;
}
#dell {
    padding: 1%;
    width: 25%;
    background-color: rgb(4, 117, 117);
    float: left;
}
#apple {
    padding: 1%;
    width: 25%;
    background-color: rgb(190, 16, 161);
    float: left;
}
#sony {
    padding: 1%;
    width: 25%;
    background-color: rgb(193, 224, 55);
    float: left;
}
#hpButton {
    padding: 1%;
    width: 100%;
    background-color: rgb(85, 34, 167);
    float: left;
}
#dellButton {
    padding: 1%;
    width: 100%;
    background-color: rgb(4, 117, 117);
    float: left;
}
#appleButton {
    padding: 1%;
    width: 100%;
    background-color: rgb(190, 16, 161);
    float: left;
}
#sonyButton {
    padding: 1%;
    width: 100%;
    background-color: rgb(193, 224, 55);
    float: left;
}
#series {
    display: none;
}
#hpSeries {
    display: none;
}
#dellSeries {
    display: none;
}
#appleSeries {
    display: none;
}
#sonySeries {
    display: none;
}
#leftFormSection
{
    width: 50%;
    float: left;
}
#rightFormSection {
    width: 50%;
    float: left;
}

#success_message{ 
    display: none;
}

#sendRequestButton {
    float: right;
    clear: both;
}
/* #modelIdGroup {
    display: none;
} */

/* Classes */
.customLabel {
    margin-top: 2%;
}